/* Coolors Exported Palette - coolors.co/d10700-d6dce4-ffad17-e8cf02-7f3f12 */

/* HSL */
$color1: hsla(2%, 100%, 41%, 1);
$color2: hsla(214%, 21%, 87%, 1);
$color3: hsla(39%, 100%, 55%, 1);
$color4: hsla(53%, 98%, 46%, 1);
$color5: hsla(25%, 75%, 28%, 1);

/* RGB */
$color1: rgba(209, 7, 0, 1);
$color2: rgba(214, 220, 228, 1);
$color3: rgba(255, 173, 23, 1);
$color4: rgba(232, 207, 2, 1);
$color5: rgba(127, 63, 18, 1);