<html>

<head>
    <title>{%block head_title%}Colaborar{%endblock%}</title>
    <header>
        {% include 'css.html'%}
    </header>
</head>
<main>

    <body ng-app="TodoApp">
        <nav>
            <div class="nav-wrapper colaborar-navbar">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated%}
                    <li><a href="{% url 'todo:project' %}">Colaborar</a></li>
                    <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates='profile'>
                    {{user.username}}<i class="material-icons right">arrow_drop_down</i>
                    </a></li>
                    <li><a href="{% url 'account_logout' %}"><i class="material-icons left">exit_to_app</i></a></li>
                    <ul id='profile' class='dropdown-content'>
                        <li><a href="{% url 'profile' %}">Manage Profile</a></li>
                        <li><a href="{% url 'manage_profile' %}">Manage Projects</a></li>
                    </ul>
                    {% else%}
                    <li><a href="{% url 'home' %}">Colaborar</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content%} {% endblock%} {%include 'js.html'%} {% block extra_js %} {% endblock %}
    </body>
</main>
<footer>
</footer>

</html>