{% extends 'base.html' %}{% load staticfiles %} {% block content %}{% include 'preloader.html' %}
<div class="container-fluid" ng-controller='manageController'>
    <br>
    <br> {% if project_manager or owner %}
    <div class="row">
    <div class="col m4 center-align">
            <a class="waves-effect waves-light btn colaborar-buttons" href="{% url 'todo:milestone' %}"><i class="material-icons left">assignment</i>View/Manage MileStones</a>
        </div>
        <div class="col m4 center-align">
            <a class="waves-effect waves-light btn colaborar-buttons" href="#send_invitaton_modal"><i class="material-icons left">file_upload</i>Send Invite</a>
        </div>
        <div class="col m4 center-align">
            <a class="waves-effect waves-light btn colaborar-buttons" href="#project_modal"><i class="material-icons left">note_add</i>Add Project</a>
        </div>
        <!-- Project Modal Structure -->
        <div id="project_modal" class="modal add_project_modal">
            <form>
                <div class="modal-content">
                    <div class="input-field col m8 manage_project">
                        <input type="text" name="name" ng-model="name" autofocus> {{project_form.name.label_tag}}
                    </div>
                    <div class="input-field col m4">
                        <button ng-click="addProject(name)" class="modal-action waves-effect waves-light btn colaborar-buttons">Add</button>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!-- Invitation Modal Structure -->
        <div id="send_invitaton_modal" class="modal send_invitation_modal">
            <form>
                <div class="modal-content">
                    <div class="input-field col m8 manage_project">
                        <input type="email" name="email" ng-model="email" autofocus>
                        <label for="email">Enter Inviter Email Id</label>
                    </div>
                    <div class="input-field col m4">
                        <button ng-click="sendInvite(email)" class="mmodal-action waves-effect waves-light btn colaborar-buttons">Send</button>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {%endif%}
    <div class="row">
        <div class="col m6">
            <div class="row">
                <div class="col m12">
                    {% verbatim %}
                    <h4>Company Name: {{company.name}}</h4> {% endverbatim %}
                    <div class="clearfix"></div>
                    {% if project_manager or owner %} {% verbatim %}
                    <div class="col m3" ng-repeat="employee in company.employees" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" id="{{employee.user.id}}" jqyoui-draggable="{animate:true, placeholder:'keep', onDrag:'memberDragging(event)'}">
                        <span class="chip member_name">
                        {%endverbatim%}
                        <img src="{% static 'images/avatar.jpg'%}" alt="Contact Person">
                        {% verbatim%}
                         {{employee.user.username}}</span> {% endverbatim %}
                    </div>
                    {% else%}
                    <div class="col m3" ng-repeat="employee in company.employees">
                        {% verbatim %} {{employee.user.username}} {% endverbatim %}
                    </div>
                    {% endif%}
                </div>
            </div>
        </div>
        <div class="col m4 offset-m2">
            {% verbatim%}
            <div class="row" ng-repeat="project in projects">
                <div class="col m12 manage_projects">
                    <div class="card colaborar-cards hoverable" jqyoui-droppable="{onDrop:'addMember(project)'}" data-drop="true" id="{{project.id}}">
                        <div class="card-content manage_project_tile">
                            <span class="manage_project_name">{{project.name}}</span>
                            <span><a ng-click="deleteProject(project.id)"><i class="material-icons black-text text-darken-4 project_delete">delete</i></a></span>
                            <br/> Members:
                            <div class="row">
                                <div class="col m4" ng-repeat="member in project.members">
                                    <span class="member_pic" tooltips tooltip-template="{{member.user.username}}" tooltip-smart="true">
                                    {%endverbatim%}
                                        <img class="member_profile_pic" src="{%static 'images/avatar.jpg'%}" alt="">
                                    {% verbatim%}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a class="assign_operation orange-text text-darken-4" href="/todo/project_detail/{{project.id}}">View Detail</a>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_js %}
<script>
$('.modal').modal();
</script>
{% endblock %}