{% extends 'base.html' %} {% block content %} {% include 'preloader.html' %}
<div class="row">
    <div class="col m6 offset-m3  profile-page">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col m12 profile_page">
                    {{form.first_name}}
                </div>
                <div class="input-field col m12 profile_page">
                    {{form.last_name}}
                </div>
                <div class="input-field col m12">
                    <label for="role">Your Desgination: <b id="role_name">{{role}}</b></label>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col m3">
                    <button action="submit" class="btn colaborar-buttons">Save</button>
                </div>
                <div class="col m5 offset-m3">
                    <a class="btn colaborar-buttons" href="{% url 'account_set_password' %}">Change Password</a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col m12">
                <span class="center-align">If your designation is not correct kindly contact HR Department or your product manager</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}