{% extends 'base.html' %} {% block content %} {% include 'preloader.html' %}
<div class="row task-maincontent" ng-controller="projectController">
    {% verbatim %}
    <div class="col m3 project_names">
        <div class="row">
            <div class="col m10">
                <div class="card colaborar-cards" ng-click="current_project('all_projects',0)">
                    <div class="card-content">
                        <span class="card-title">All Projects</span>
                        <p>Total Projects: {{summary_project.project_count}}</p>
                        <p>Total Tasks: {{summary_project.task_count}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="project in projects">
            <div class="col m10 project_card">
                <div class="card colaborar-cards" ng-click="current_project(project.name,project.id)">
                    <div class="card-content">
                        <span class="card-title">{{project.name}}</span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <div class="col m9">
        <div class="row">
            <div class="col m6">
                <div class="project_dates" ng-show="selected_project!='all_projects'">
                    <div class="row">
                        <div class="input-field col m4">
                            <label>Viewing Tasks for:</lable>
                        </div>
                        <div class="input-field col m5">
                            <input type="date" class="datepicker" id="week_back" ng-change="selectedDate()" ng-model="project_date" placeholder="Choose A Date">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            {% verbatim %}
            <div class="col m6 " ng-show="selected_project!='all_projects' ">
                <div class="col m12 input-field">
                    <span ng-repeat="member in members">
                        <a ng-click="selectMember(member.id)" tooltips tooltip-template="{{member.role.name}}" tooltip-smart="true"><span class="chip member_name">{{member.user.username}}</span></a>
                    </span>
                </div>
            </div>
            {% endverbatim %}
        </div>
        {% verbatim %}
        <div class="row ">
            <div class="col m8 " ng-show="selected_project=='all_projects' ">
                <h3>All Projects</h3>
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li ng-repeat="(project,tasks) in summary_project.tasks|groupBy:'project_set[0].name'">
                        <div class="collapsible-header">
                            <span class="summary_project_name">{{project}}</span>
                        </div>
                        <div class="collapsible-body summary_task_heading" ng-repeat="task in tasks">
                            <div>
                                <span>{{task.name}}</span>
                                <span class="all_task_status">
                                    <span class="task_percentage">{{task.percentage_complete}}%</span>
                                <i class="material-icons">done</i>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col m7 " ng-show="selected_project!='all_projects' ">
                <span class="project_name">{{selected_project}}</span>
                <div ng-if="tasks.length==0">
                    No task for {{selected_date|date:'dd MMM,yy'}}
                </div>
                <div ng-repeat="task in tasks | orderBy : 'percentage_complete'">
                    <div class="row">
                        <div class="col s12 m10">
                            <div class="card colaborar-cards hoverable">
                                <div class="card-content">
                                    <p>{{task.name}}</p>
                                </div>
                                <div class="card-action">
                                    <a class="assign_operation colaborar_taskassign" href="#">{{task.percentage_complete}}% Completed</a>
                                    <a class="assign_operation colaborar_taskassign" ng-click="edittaskPutBack(this)">Put Back</a>
                                    <a class="assign_operation colaborar_taskassign" ng-click="editPercentage(this)">Edit</a>
                                    <div class="row" ng-if="showPutBack">
                                        <div class="col m9">
                                            <p class="input-field col m12 task_fields">
                                                <input type="text" id="{{task.id}}" ng-model="reason" />
                                            </p>
                                        </div>
                                        <div class="input-field col m3">
                                            <a class="confirm_btn colaborar_taskassign" ng-click="taskPutBack(reason,task.id)">Save</a>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="showRange">
                                        <div class="col m9">
                                            <p class="range-field">
                                                <input type="range" id="{{task.id}}" value="{{task.percentage_complete}}" min="0" max="100" />
                                            </p>
                                        </div>
                                        <div class="input-field col m3">
                                            <a class="confirm_btn colaborar_taskassign" ng-click="savePercentage(task.id)">Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- task queues -->
            <div class="col m5 " ng-show="selected_project!='all_projects' ">
                <div class="task-panel ">
                    <ul ng-repeat="task in queue | orderBy : '-assigned_to'" class="task_list ">
                        <div class="row ">
                            <div class="col m12 ">
                                <div class="card colaborar-cards hoverable">
                                    <div class="card-content">
                                        <span>{{task.name}}</span>
                                        <span ng-if="task.assigned_to==null">
                                            <a ng-click="deleteFromQueue(task.id)">
                                                <span><i class="material-icons task_delete">delete</i></span>
                                            </a>
                                        </span>
                                    </div>
                                    <div ng-if="task.assigned_to==null">
                                        <div class="card-action">
                                            <a ng-click="assignDate(this, task.id)" class="assign_operation colaborar_taskassign">Assign To Yourself
                                            </a>
                                            <a ng-click="assignTask(this, task.id)" class="assign_operation colaborar_taskassign">
                                                Assign To Other
                                            </a>
                                            <div ng-show="taskDate" class="row">
                                                <div class="input-field col m9">
                                                    <label for="date">Choose the date</label>
                                                    <input type="date" id="your_date{{task.id}}" class="datepicker" ng-model="taskAssignDate" />
                                                </div>
                                                <div class="input-field col m3">
                                                    <a class="colaborar_taskassign confirm_btn" ng-click="assignYourself(task.id)">Confirm
                                                    </a>
                                                </div>
                                            </div>
                                            <div ng-show="taskToOther" class="row">
                                                <div class="input-field col m9 assign_task">
                                                    <input type="text" id="autocomplete-input" class="autocomplete" ng-model="otherMember" />
                                                    <label for="autocomplete-input">Choose Member</label>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="input-field col m9">
                                                    <label for="date">Choose the date</label>
                                                    <input type="date" id="other_task{{task.id}}" class="datepicker" ng-model="taskAssignDate" />
                                                </div>
                                                <div class="input-field col m3">
                                                    <a class="colaborar_taskassign confirm_btn" ng-click="assignToOther(task.id)">Confirm
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="task.assigned_to!=null">
                                        <div class="card-action ">
                                            <a class="colaborar_taskassign" href="#">{{task.assigned_to.user.username}}
                                            </a>
                                            <a class="colaborar_taskassign" href="#">{{task.percentage_complete}} % Completed
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <form ng-submit="addtask() " class="form_list ">
                    <div class="row ">
                        <div class="input-field col m8 task_create">
                            <textarea id="task_name " ng-model="task " class="materialize-textarea "></textarea>
                            <label for="task_name ">Task:</label>
                        </div>
                        <div class="input-field col m4">
                            <button class="waves-effect waves-light btn colaborar-buttons" type="submit " name="action " id="save_task">Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- task queues ends -->
        </div>
        {% endverbatim %}
    </div>
</div>
{% endblock %} {% block extra_js%}
<script>
$('#week_back').pickadate({
    min: -7
});
$('.collapsible').collapsible();
$('.tooltipped').tooltip({
    delay: 50
});
</script>
{% endblock%}