.assign_operation {
    font-size: 12px;
}

.task-panel {
    height: 330px;
    overflow-y: scroll;
}

.task_list {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.form_list {
    margin-top: 2em;
    margin-bottom: 0px !important;
}

#save_task {
    margin-top: 3em;
}

.task-maincontent {
    margin-bottom: 0px !important;
}

.project_names {
    height: 540px;
    overflow-y: auto;
}


/*profile page*/

.profile-page,.signout-maincontent {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    margin-top: 5em;
}

.profile-pic{
	border-radius: 50%;
	width:70px;
	height: 70px;
	border:1px solid #546e7a;
}
/*navbar*/
.nav-header{
	background-color: #7f3f12 !important;
}
.browse-btn button{
	margin-top: 1em;
}