{% extends 'base.html' %} {% load staticfiles %}{% load chartkick %}{% load extra_todos_tags %} {% block content%} {% include 'preloader.html' %}
<script src="{% static 'libs/chartkick/js/chartkick.js'%}"></script>
<script src="{% static 'libs/chartkick/js/Chart.min.js'%}"></script>
<div class="container">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    </div>
    <br>
    <div class="row">
        <div class="col m12">
            <div>
                <span class="project_detail_heading">Project Name:</span>
                <span class="project_detail_project_heading">{{project.name|capfirst}}</span>
            </div>
        </div>
        <div class="col m12">
            <div>
                <span class="project_detail_heading">Project Managers:</span>
            </div>
            <div class="col m3">
                {%for manager in project.members.all|managers%}
                <span class="chip member_name">
                <img src="{%static 'images/avatar.jpg'%}" alt="">
                    {{manager.user.username}}
                </span> {% empty%}
                <span>No managers available</span> {% endfor %}
            </div>
        </div>
        <div class="col m12">
            <div>
                <span class="project_detail_heading">Stats:</span>
            </div>
            {% bar_chart stats_data with min=0 max=max_limit%}
        </div>
        <div class="col m12">
            <span class="project_detail_heading">Members:</span>
        </div>
        {% for member in project.members.all%}
        <div class="col s12 m4">
            <div class="card colaborar-cards hoverable">
                <div class="card-content" style="padding-top: 10px;">
                    <span class="card-title">
                        <span class="colaborar-card-title">{{member.user.username}}</span>
                    <span class="right colaborar-card-role">{{member.role.name}}</span>
                    </span>
                    {% for task in member.assigned_to.all|tasks:project.name %}
                    <div class="member_task_detail">
                        <span>{{task.name}}</span>
                        <span>
                            <span class="progress">
                            <span class="determinate" style="width: {{task.percentage_complete}}%"></span>
                            </span>
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}