<title>Colaborar:Password Reset</title>
{%include 'css.html'%} {% load i18n %} {% block content %}
<div class="container-fluid forgot_page_success">
    <div class="image_overlay"></div>
        <div class="row main_content">
            <div class="col m12">
                <div class="project_heading">
                    <div class="project_title">
                        <span>Password Reset</span>
                    </div>
                    <div class="project_desc">
                        <span> {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}
        {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} {%include 'js.html'%} {% include 'messages.html' %}