<html>
<title>Todo</title>
<header>
    {% include 'css.html'%}
</header>
<main>

    <body ng-app="TodoApp">
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated%}
                    <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates='profile'>
                    {% if user.profile.full_name%}
                        {{user.profile.full_name}}
                    {% else %}
                    {{user.username}}
                    {% endif %}
                    </a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    <ul id='profile' class='dropdown-content'>
                        <li><a href="{% url 'profile' %}">Manage Profile</a></li>
                        <li><a href="{% url 'manage_profile' %}">Manage Projects</a></li>
                    </ul>
                    {% else%}
                    <li><a href="{% url 'home' %}">Todo App</a></li>
                    <li><a href="{% url 'account_signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content%} {% endblock%} {%include 'js.html'%} {% block extra_js %} {% endblock %}
    </body>
</main>
<footer>
</footer>

</html>
