{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row">
        <div class="col m7">
           <a href="{% url 'account_login' %}">Login </a>
        </div>
        <div class="col m5">
            <h5>Currently Running Projects in Your Organization</h5> {% for project in projects%}
            <div class="chip">
               {{project.name}}
            </div>
            {% endfor%}
        </div>
    </div>
    <div>
        To request for a demo kindly, drop a mail at <b><a href="mailto:pranav@codingmart.com">pranav@codingmart.com</a></b>
    </div>
</div>
{% endblock %}
