{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Angular Script -->
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-cookies.js'%}"></script>
<script src="{% static 'js/modules/module.js'%}"></script>
<script src="{% static 'js/config/config.js'%}"></script>
<script src="{% static 'js/controllers/projectController.js'%}"></script>
<!-- extra js -->
<script src="{% static 'libs/materialize/js/materialize.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
