{% load staticfiles %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-messages.min.js' %}"></script>
<script src="{% static 'js/angular-cookies.js'%}"></script>
<!-- Angular Script -->
<script src="{% static 'js/modules/module.js'%}"></script>
<script src="{% static 'js/config/config.js'%}"></script>
<script src="{% static 'js/controllers/projectController.js'%}"></script>
<script src="{% static 'libs/materialize/js/materialize.min.js'%}"></script>
