{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<!-- Angular Script -->
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-cookies.js'%}"></script>
<script src="{% static 'js/modules/module.js'%}"></script>
<script src="{% static 'js/directives/ngEnter.js'%}"></script>
<script src="{% static 'js/config/config.js'%}"></script>
<script src="{% static 'js/controllers/projectController.js'%}"></script>
<script src="{% static 'js/controllers/manageController.js'%}"></script>
<!-- extra js -->
<script src="{% static 'libs/materialize/js/materialize.min.js'%}"></script>
<script src="{% static 'libs/angular_drag_drop/angular-dragdrop.min.js'%}"></script>
<script src="{% static 'libs/angular_tooltip/js/angular-tooltips.js'%}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
