{% extends 'base.html' %} {% block content%}
{% load static %}
<div class="row">
    <div class="col s5 offset-s4  profile-page blue-grey lighten-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col m12">
                    {{form.first_name}}
                </div>
                <div class="input-field col m12">
                    {{form.last_name}}
                </div>
                <div class="input-field col m12">
                    <select name='role'>
                        <option value="" disabled selected>Choose your Role</option>
                        {% for role_name in role_form.role%} {{role_name}} {%endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
            	<div class="col m3">
            		<img src="{% static 'img/avatar.jpg'%}" class="profile-pic"/>
            	</div>
            	<div class="col m9">
            		<div class="browse-btn">
            			<button>Browse</button>
            		</div>
            	</div>
            </div>
            <div class="row">
                <div class="col m6">
                    <button action="submit" class="btn  blue-grey">Save</button>
                </div>
                <div class="col m6">
                <a class=" blue-grey btn" href="{% url 'account_set_password' %}">Change Password</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block extra_js %}
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
{% endblock %}
